# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Virtual_Trial_Room\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
